$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700);

@import "./_nav.scss";
@import "compass/css3";



html,
body{
  height: 100%;
  width: 100%;
  font-family:Arial,sans-serif;
}

.body-wrap{
  height: 100%;
}

/* fix bs3 horizontal scrollbar bug */
.row { margin: 0; padding: 0 }


/* use special fonts in certain elements */
h1,h2,h3,h4,.lead,.btn,.navbar a {
  font-family:'Roboto',sans-serif;
  letter-spacing:2px;
  font-weight: 100;
}

h1 {
  font-size: 3em;
}


/* make images gray */
img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.icon-bar {
   background-color:#fff;
}

.scroll-down {
  position:fixed;
  bottom:20%;
  right:0%;
  color:#f9f9f9;

  a{
    color:#ffffff;
  }
}

.scroll-top {
  background-color:#dbdbdb;
  a{
    color:#ffffff;
  }
}

.vert {
  vertical-align: middle;
  width:100%;
  padding-top:4%;
  text-align:center;
}

.header {
  height: 100%;
  background: #f68076 url('../images/header.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .container-fluid{
    padding-top: 8%;
  }

  .logo{
    width: 50%;
  }

  h1 {
    font-size:80px;
    -webkit-text-stroke: 1px rgba(255,255,255,0.1);
    color:#431a6d;
    color:#fff;
    margin-left:-5px;
    margin-bottom:5px;
    text-transform:uppercase;
  }

  .lead {
    color:#d46054;
    font-size:25px;
  }

  .btn-lg {
    font-size:2em;
    border-color:#eeeeee;
    padding:10px;
    background-color: rgba(0,0,0,0.5);
    color:#ffffff;

    &:hover{
      background-color:#eeeeee;
      color:#777777;
    }
  }

  .email-input{
    width: 30%;
    height: 2.1em;
    padding-right: 5px;
    font-size:2em;
    border-color:#eeeeee;
    padding:10px;
    background-color: rgba(0,0,0,0.5);
    color:#ffffff;
    font-family:'Roboto',sans-serif;
    font-weight: 100;
  }
}

/* use alt in navbar and header for different color */

.alt {
  background-color: #6E28C9;

  .lead {
    color: #3B0496;
  }

  &.affix {
    background-color:#4C06AB;
  }

  li a:hover, .alt li.active {
    background-color:#5D17BA;
  }
}

.blurb {
  padding: 120px 0;
  background-color:#fefefe;
  text-align: center;

  h1{
    padding-bottom: 15px;
  }

  p{
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #707070;
  }

  .panel {
    background-color:transparent;
  }

  .form-group{
    padding: 0 30px;
  }

  input{
    height: 2em;
    font-size:1.5em;
    border-color:#eeeeee;
    padding:10px;
    color:#404040;
    font-family:'Roboto',sans-serif;
    font-weight: 100;
  }
}

.bright {
  background: #dbdbdb url('http://www.bootply.com/assets/example/pt_topo.png') repeat center center fixed; 
  color:#777;
}

.featurette {
  background: url('../images/bgtr.svg') top right no-repeat, url('../images/bgbl.svg') bottom left no-repeat, url('../images/bgbl.svg') bottom left no-repeat, url('../images/overlay.png'), linear-gradient(45deg, #b39c68, #a56365, #412e4c);
  height: 85%;
  padding: 50px;
  color: #ffffff;

  h1{
    padding-bottom: 20px;
  }

  .featurette-item {
    margin-bottom: 15px;
    height: 20.9em;

    img{
      width: 3em;
    }

    & > i {
      background: rgba(255,255,255,0.5);
      box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
      color: #fff;
      border-radius: 100%;
      display: inline-block;
      font-size: 56px;
      width: 3.5em;
      height: 3.5em;
      line-height: 3.6em;
      vertical-align: middle; 
      text-align: center;

      &:before{
        content: '';
        background: rgba(255,255,255,0.5);
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -0.15em;
        width: 0.3em;
        height: 0.3em;
        display: block;
        border-radius: 100%;
      }

      &:after{
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0.3em;
        width: 1px;
        height: 1.7em;
        background: rgba(255,255,255,0.5);
        margin-left: -0.5px;
      }
    }
  }

  .featurette-text{
    padding-top: 10px;
    p{
      font-size: 1.2em;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      color: #fff;
      padding: 0 10px 0 10px;
    }
  }
}


.callout {
  color: #ffffff;
  padding-top:5%;
  height: 100%;
  width: 100%;
  background: url('../images/team.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .img-card {
    .img-circle{
      border-style: solid;
      border-width: 1px;
      border-color: rgba(255,255,255,0.5);

      &:hover + .img-caption{
        opacity: 1;
      }

    }
    a{
      text-decoration: none;
    }

    .img-caption{
      opacity: 0;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      background: rgba(0,0,0,0.25);
      margin: 0 30px 0 30px;
      border-radius: 5px;
      color: #ffffff;
      &:link{
        text-decoration: none;
      }
    }

  }
  .img-row{
    padding: 20px 0 20px 0;

    .col-md-offset-1 {
      margin-left: 12.333333%;
    }

    &:hover span.text-content {
      opacity: 1;
    }
  }
}

.gallery {
  padding: 50px 0;
}

.call-to-action {
  background: #eeeeee;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

footer {
  padding-bottom: 100px;
  .social{
    list-style-type: none;
    text-align: center;
    padding: 0;
    li{
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 2em;
      display: inline;
    }
  }
}

.login-page{
  padding-top: 7%;
  input{
    height: 2em;
    font-size:1.5em;
    border-color:#eeeeee;
    padding:10px;
    color:#404040;
    font-family:'Roboto',sans-serif;
    font-weight: 100;
  }
}

.admin-page{
  padding-top: 5%;
  .btn{
    float: right;
  }
}





